@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Expo Arabic Book";
  src: url("./style/fonts/ExpoArabic-Book.woff2") format("woff2"),
    url("./style/fonts/ExpoArabic-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cairo";
  src: url("./style/fonts/Cairo-Light.woff2") format("woff2"),
    url("./style/fonts/Cairo-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: calc(14px + 0.25vw);
}
html {
  font-family: "Expo Arabic Book";
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button,
a {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
input {
  outline: none;
  border: 1px solid;
}
@media (max-width: 576px) {
}
@media (max-width: 767px) {
}
@media (max-width: 991px) {
}
@media (max-width: 1999px) {
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #bfbfbf #f5f5f5;
}

/* Chrome / Edge / Safari */
.custom-scroll::-webkit-scrollbar {
  width: 10px;              
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f5f5f5; 
  background: #000;       
  border-radius: 20px;        
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;        
  border-radius: 20px;        
  border: 2px solid #f5f5f5;  
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;    
  background: #000;   
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
}
